@{
    Layout = null;
}
<footer class="site-footer bg-light border-top mt-4">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Về Từ Thiện</h5>
                <p class="small text-muted">Chúng tôi hỗ trợ cộng đồng và giúp đỡ các hoàn cảnh thông qua quyên góp và giải ngân minh bạch.</p>
                <p class="small mb-0">&copy; 2026 Từ Thiện</p>
            </div>

            <div class="col-md-2 mb-3">
                <h6>Khám phá</h6>
                <ul class="list-unstyled small">
                    <li><a href="/campaigns">Chiến dịch</a></li>
                    <li><a href="/where-we-work">Nơi chúng tôi làm việc</a></li>
                    <li><a href="/reports">Báo cáo</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-3">
                <h6>Tham gia</h6>
                <ul class="list-unstyled small">
                    <li><a href="/how-to-help">Quyên góp</a></li>
                    <li><a href="/volunteer">Tình nguyện</a></li>
                    <li><a href="/partners">Đối tác</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-3">
                <h6>Kết nối</h6>
                <p class="small">
                    <a href="#" class="me-2">Facebook</a>
                    <a href="#" class="me-2">Twitter</a>
                    <a href="#">Instagram</a>
                </p>
                <form class="d-flex" method="post" action="/subscribe">
                    <input class="form-control form-control-sm me-2" name="email" placeholder="Email nhận tin tức" />
                    <button class="btn btn-secondary btn-sm" type="submit">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</footer>
